/* static/css/details.css */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #111;
  color: #f0f0f0;
  font-family: "Arial", sans-serif;
}

header {
  text-align: center;
  padding: 30px;
  background-color: #555539;
  color: #ffffff;
  box-shadow: 0 4px 20px rgba(255, 193, 7, 0.5);
}

.container {
  padding: 5%;
}

.full-card {
  border-radius: 10px;
  border: 2px solid rgba(255, 193, 7, 0.2);
  display: flex;
  justify-content: space-between;
  padding: 2%;
}

.artist {
  border: 2px solid #ffa502;
  height: fit-content;
  width: 25%;
  border-radius: 10px;
  text-align: center;
  background-color: rgba(255, 193, 7, 0.2);
  padding: 20px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.artist:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(255, 193, 7, 0.5);
}

.artist h1 {
  font-size: 1.5em;
  margin: 10px 0;
}

.artist img {
  border-radius: 10px;
  width: 100%;
  height: auto;
}
.artist p {
  text-align: start;
  color: #ffffff;
  margin-top: 5px;
}

.details {
  width: 70%;
  display: flex;
  justify-content: space-between;
  div {
    margin: 0px 1%;
  }
  h3 {
    color: #37fc9a;
    font: 1em sans-serif;
  }
  h4 {
    color: #759a73;
    pre {
      color: #ffffff;
    }
  }
}

.members,
.locations,
.concert-date,
.date-and-locations {
  border: 1px solid rgba(255, 193, 7, 0.2);
  border-radius: 10px;
  padding: 10px;
  height: fit-content;
  background-color: rgba(255, 193, 7, 0.1);
}

.back-home {
  text-align: center;
  margin: 30px 0;
}

.back-home a {
  text-decoration: none;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: #555539;
  transition: background-color 0.3s ease;
}

.back-home a:hover {
  background-color: #444;
}
