/* static/css/style.css */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #111;
  color: #f0f0f0;
  font-family: "Arial", sans-serif;
}

header {
  text-align: center;
  padding: 30px;
  background-color: #555539;
  color: #ffffff;
  box-shadow: 0 4px 20px rgba(255, 193, 7, 0.5);
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 30px;
  padding: 10%;
}

.artist {
  border: 2px solid #ffa502;
  border-radius: 10px;
  text-align: center;
  background-color: rgba(255, 193, 7, 0.2);
  padding: 10px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.artist:hover {
  transform: scale(1.05) rotate(2deg);
  box-shadow: 0 4px 20px rgba(255, 193, 7, 0.5);
  cursor: pointer;
}

.artist h3 {
  margin: 10px;
}

.artist img {
  border-radius: 10px;
  width: 100%;
  height: auto;
}

/********** media query ***********/

@media (max-width: 320px) {
  .title {
    font-size: medium;
  }
  .artist-name {
    font-size: small;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    padding: 10%;
  }
}
