<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/details.css">
    <title> {{ .Name }} </title>
</head>

<body>
    <header>
        <a href="/"> <h1><span>G</span>-Tracker</h1></a>
       
    </header>
<section class="imag">
    <img src="{{ .Image }}" alt="not found">
    <h2>  {{  .Name }} </h2>
</section>
    

<section class="content">
    <div>
        <h2>
            Members
        </h2>
        <ul>
            {{ range .Members }}
            <li>
                {{ . }}
            </li>
            {{ end }}
        </ul>

    </div>
    <div>
        <h2>Creation Date</h2>

        <h3>{{ .CreationDate }}</h3>
    </div>
    <div>
        <h2>First Album</h2>
        <h3>{{ .FirstAlbum }}</h3>
    </div>
    <div>

        <h2>Locations</h2>
        <ul>
            {{ range .Locations }}
            <li>
                {{ . }}
            </li>
            {{ end }}
        </ul>
    </div>
    <div>
        <h2> Dates</h2>
        <ul>
            {{ range .ConcertDate  }}
            <li>
                {{ . }}
            </li>
            {{ end }}
        </ul>
    </div>

    <div>
        <h2>Relations</h2>
        <ul>
            {{ range $Key, $Value := .DatesLocations }}
            <li>
                <strong>{{ $Key }}</strong>:
                <h4>
                    {{ range $index, $date := $Value }}
                    {{ if $index }}, {{ end }}{{ $date }}
                    {{ end }}
                
                </h4>
                    
            </li>
            {{ end }}
        </ul>
    </div>

</section>
<section class="imag">
    <a href="/"> <button type="submit" class="fixed-button"> Back Home</button></a>
</section>
      

   
    
</body>

</html>