<!-- templates/home.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>groupie-tracker</title>
</head>

<body>
    <header>
        <h1>groupie-tracker</h1>
    </header>
    <div class="container">
        {{ range . }}
        <div class="artist">
            <h3>{{ .Name }}</h3>
            <img src="{{ .Image }}" alt="artist">
        </div>
        {{ end }}
    </div>

</body>

</html>